<h1>Step 3: Summary</h1>
<h2>Your //ModelName//</h2>
<div class="d-grid gap-2">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><strong>//Selected model</strong></td>
        <td class="text-end">$//formated us dollars</td>
      </tr>
      <tr>
        <td>//model description</td>
        <td class="text-end"></td>
      </tr>
      <tr>
        <td><strong>//color</strong></td>
        <td class="text-end">$//formated us dollars</td>
      </tr>
      <tr>
        <td><strong>//options</strong></td>
        <td class="text-end">$//formated us dollars</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><strong>TOTAL COST</strong></td>
        <td class="text-end">$//formated us dollars</td>
      </tr>
    </tfoot>
  </table>
</div>

<app-car-display></app-car-display>
