<!-- <app-configuration-nav></app-configuration-nav> -->
<h1>Step 1: Choose your Model and color</h1>

<div class="d-flex align-items-center gap-2">
  <div>Model:</div>
  <div>
    <select
      id="modelSelect"
      [ngModel]="selectedModel()?.code"
      (change)="modelSelected($event)"
    >
      <option value="">Select Model</option>
      <option *ngFor="let car of cars" [value]="car.code">
        {{ car.description }}
      </option>
    </select>
  </div>
  <ng-container *ngIf="selectedModel() !== null">
    <div>Color:</div>
    <div>
      <select
        id="colorSelect"
        [ngModel]="selectedColor()?.code"
        (change)="colorSelected($event)"
      >
        <option *ngFor="let color of colors()" [value]="color.code">
          {{ color.description }}
        </option>
      </select>
    </div>
  </ng-container>
</div>

<app-car-display></app-car-display>
