<div class="d-flex">
  <div
    [routerLink]="['/']"
    class="p-3 flex-fill border border-1 text-center selectable"
    id="step1"
  >
    Step 1
  </div>

  <div
    *ngIf="hasSelectedModel() === false; else step2Enabled"
    class="p-3 flex-fill border border-1 text-center bg-light disabled"
    id="step2"
  >
    Step 2
  </div>
  <ng-template #step2Enabled>
    <div
      [routerLink]="['/configuration', selectedModel()?.code]"
      class="p-3 flex-fill border border-1 text-center selectable"
      id="step2"
    >
      Step 2
    </div>
  </ng-template>

  <div
    *ngIf="hasOptions() === false; else step3Enabled"
    class="p-3 flex-fill border border-1 text-center bg-light disabled"
    id="step3"
  >
    Step 3
  </div>
  <ng-template #step3Enabled>
    <div
      [routerLink]="['/summary']"
      class="p-3 flex-fill border border-1 text-center selectable"
      id="step3"
    >
      Step 3
    </div>
  </ng-template>
</div>
