<div class="d-flex">
  <div [routerLink]="['/']"
       class="p-3 flex-fill border border-1 text-center selectable"
       id="step1">Step 1</div>
       
  <div [routerLink]="['/configuration', selectedModel()?.code]"
       class="p-3 flex-fill border border-1 text-center"
       id="step2" [class]="hasSelectedModel() === false ? 'bg-light disabled' : 'selectable'">Step 2</div>
  <div [routerLink]="['/summary']"
       class="p-3 flex-fill border border-1 text-center"
       [class]="hasOptions() === false ? 'bg-light disabled' : 'selectable'"
       id="step3">Step 3</div>
</div>
